<div id="notes_panel_header" class="notes-panel-header">
  <%= tag.i id: 'back_to_boards', class: 'tapable bi bi-arrow-left ms-3 hidden-md', data: {
    controller: 'event clicker',
    event_payload_value: {
      set_panel_state: {
        active_panel: 'boards'
      },
      set_details_state: {
        show_details: false
      }
    },
    clicker_selector_value: '#board_details_cancel',
    action: 'click->event#fire click->clicker#click',
  } %>
  <span class="bc-board-name normal-height text-truncate mx-3 fw-semibold my-1"><%= @board.name %></span>
  <span class="ms-auto"></span>
  <%= tag.span id: 'board_owner_nickname', class: "me-3 fw-semibold text-secondary #{@board.owner == current_user ? 'hidden' : ''}", data: {
    controller: 'show',
    show_use_value: 'user_board_state',
    show_check_value: '!owned'
  } do %>
    @<%= @board.owner.nickname %>
  <% end %>
  <div class="me-3 dropdown">
    <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
      <li>
        <%= tag.button 'Copy link', id: 'copy_link_menu', class: 'dropdown-item', data: {
          controller: 'clipboard',
          action: 'click->clipboard#copyLocation'
        } %>
      </li>
      <li>
        <%= tag.button 'Details', id: 'to_details_menu', class: 'dropdown-item', data: {
          controller: 'event show',
          event_payload_value: { set_details_state: { show_details: true }},
          action: 'click->event#fire',
          show_use_value: 'details_state',
          show_check_value: '!show_details'
        } %>
      </li>
      <li>
        <%= tag.button 'Notes', id: 'to_notes_menu', class: 'dropdown-item', data: {
          controller: 'event show clicker',
          event_payload_value: { set_details_state: { show_details: false }},
          show_use_value: 'details_state',
          show_check_value: 'show_details',
          clicker_selector_value: '#board_details_cancel',
          action: 'click->event#fire click->clicker#click',
        } %>
      </li>
      <%= tag.li id: 'leave_board', data: {
        controller: 'show',
        show_use_value: 'user_board_state',
        show_check_value: 'joined'
      } do %>
        <%= link_to 'Leave', leave_board_path(@board), class: 'dropdown-item link-danger',
          data: { turbo_method: 'put', turbo_confirm: "Are you sure?" } %>
      <% end %>
      <%= tag.li id: 'delete_board', data: {
        controller: 'show',
        show_use_value: 'user_board_state',
        show_check_value: 'owned'
      } do %>
        <%= link_to 'Delete', board_path(@board), class: 'dropdown-item link-danger', data: {
          turbo_method: 'delete',
          controller: 'event',
          event_payload_value: {
            delete_board: @board.id,
            set_panel_state: {
              active_panel: 'boards'
            }
          },
          event_confirm_value: 'Are you sure?',
          action: 'event#fire'
        } %>
      <% end %>
    </ul>
  </div>
</div>
