<div id="notes_panel_header">
  <i id="back_to_boards" class="bi bi-arrow-left ms-3 hidden-md"
    data-controller="class-changer" data-class-changer-manipulate-class="hidden-below-md"
    data-class-changer-selector-value=".toggle-mobile" data-action="click->class-changer#toggle"
  ></i>
  <span id="notes_header_board_name" class="normal-height text-truncate mx-3 fw-semibold my-1"><%= @board.name %></span>
  <span class="ms-auto"></span>
  <%= tag.span class: 'me-3 fw-semibold text-secondary', data: {
    controller: 'state-driven',
    state_driven_state_outlet: '#user_board_state',
    state_driven_key_value: 'owned',
    state_driven_not_value: true
  } do %>
    @<%= @board.owner.nickname %>
  <% end %>
  <div class="me-3 dropdown"
    data-controller="state-driven"
    data-state-driven-key-value="belongs"
    data-state-driven-state-outlet="#user_board_state"
  >
    <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
      <li
        data-controller="state-driven"
        data-state-driven-key-value="joined"
        data-state-driven-state-outlet="#user_board_state"
      >
        <%= link_to 'Leave', leave_board_path(@board), class: 'dropdown-item',
          data: { turbo_method: 'put', turbo_confirm: "Are you sure?" } %>
      </li>
      <li
        data-controller="state-driven"
        data-state-driven-key-value="owned"
        data-state-driven-state-outlet="#user_board_state"
      >
        <%= link_to 'Delete', board_path(@board), class: 'dropdown-item',
          data: { turbo_method: 'delete', turbo_confirm: "Are you sure?" } %>
      </li>
    </ul>
  </div>
</div>
