<div id="notes_panel_header" class="notes-panel-header">
  <%= tag.i id: 'back_to_boards', class: 'tapable bi bi-arrow-left ms-3 hidden-md', data: {
    controller: 'set-state clicker',
    set_state_change_value: {
      panel_state: {
        active_panel: 'boards'
      },
      details_state: {
        show_details: false
      }
    },
    clicker_selector_value: '#board_details_cancel',
    action: 'click->set-state#fire click->clicker#click',
  } %>
  <span id="notes_header_board_name" class="normal-height text-truncate mx-3 fw-semibold my-1"><%= @board.name %></span>
  <span class="ms-auto"></span>
  <%= tag.span id: 'board_owner_nickname', class: "me-3 fw-semibold text-secondary #{@board.owner == current_user ? 'hidden' : ''}", data: {
    controller: 'show',
    show_use_value: ['user_board_state'],
    show_check_value: '!owned'
  } do %>
    @<%= @board.owner.nickname %>
  <% end %>
  <div class="me-3 dropdown">
    <i class="bi bi-three-dots-vertical" type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
    <ul class="dropdown-menu">
      <li>
        <%= tag.button 'Details', id: 'to_details_menu', class: 'dropdown-item', data: {
          controller: 'set-state show',
          set_state_change_value: { details_state: { show_details: true }},
          action: 'click->set-state#fire',
          show_use_value: ['details_state'],
          show_check_value: '!show_details'
        } %>
      </li>
      <li>
        <%= tag.button 'Notes', id: 'to_notes_menu', class: 'dropdown-item', data: {
          controller: 'set-state show clicker',
          set_state_change_value: { details_state: { show_details: false }},
          show_use_value: ['details_state'],
          show_check_value: 'show_details',
          clicker_selector_value: '#board_details_cancel',
          action: 'click->set-state#fire click->clicker#click',
        } %>
      </li>
      <%= tag.li id: 'leave_board', data: {
        controller: 'show',
        show_use_value: ['user_board_state'],
        show_check_value: 'joined'
      } do %>
        <%= link_to 'Leave', leave_board_path(@board), class: 'dropdown-item link-danger',
          data: { turbo_method: 'put', turbo_confirm: "Are you sure?" } %>
      <% end %>
      <%= tag.li id: 'delete_board', data: {
        controller: 'show',
        show_use_value: ['user_board_state'],
        show_check_value: 'owned'
      } do %>
        <%= link_to 'Delete', board_path(@board), class: 'dropdown-item link-danger',
          data: { turbo_method: 'delete', turbo_confirm: "Are you sure?" } %>
      <% end %>
    </ul>
  </div>
</div>
