<%= turbo_frame_tag 'notes_frame' do %>

  <% if @board.present? %>
    <%= turbo_stream_from dom_id(@board) %>
  <% end %>

  <div class="full-column d-flex flex-column">
    <% if @board.present? %>
      <%= render 'board_header' %>
    <% end %>
    <div id="notes" class="items-list-bottom list-group list-group-flush flex-grow-1 border text-bg-light"
      data-controller="scroll-bottom empty"
      data-empty-hidden-class="hidden"
    >
      <% if @board.nil? %>
        <%= render 'not_selected' %>
      <% else %>
        <div id="notes_spinner" class="my-5 text-secondary text-center invisible hidden">
          <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        <%= render 'no_notes' %>
        <%= render @notes %>
      <% end %>
    </div>
    <% if @board.present? %>
      <%= render 'add_form' %>
    <% end %>
  </div>
<% end %>
