<%= turbo_frame_tag 'notes' do %>
  <div class="full-column d-flex flex-column">
    <div id="note_list" class="items-list list-group list-group-flush flex-grow-1 border"
      data-controller="scroll-bottom">
      <% if @notes.nil? %>
        <%= render 'not_selected' %>
      <% elsif @notes.empty? %>
        <%= render 'no_notes' %>
      <% else %>
        <%# <div id="notes_spinner" class="my-5 text-secondary text-center invisible"> %>
        <%#   <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status"> %>
        <%#     <span class="visually-hidden">Loading...</span> %>
        <%#   </div> %>
        <%# </div> %>
        <%= render @notes %>
      <% end %>
    </div>
    <% if @board_id.positive? %>
      <%= form_with id: 'add_note', model: Board.find(@board_id).notes.build,
          url: board_notes_path(board_id: @board_id), class: "mt-2 d-flex" do |f| %>
        <%= f.text_area :content, class: "form-control", rows: 1, placeholder: 'New note' %>
        <%= f.submit "+", class: "btn btn-sm btn-primary ms-2", data: {turbo_stream: ""} %>
      <% end %>
    <% end %>
  </div>
<% end %>
