<%= turbo_frame_tag 'notes_frame' do %>

  <% if @board.present? %>
    <%= turbo_stream_from [@board, :notes] %>
  <% end %>

  <div class="full-column d-flex flex-column">
    <% rounded = 'rounded' %>
    <% if @board.present? %>
      <%= render 'notes_panel_header' %>
      <% rounded = 'rounded-bottom' %>
    <% end %>
    <div id="notes"
      class="items-list list-group list-group-flush shadow flex-grow-1 <%= rounded %> border text-bg-light d-flex flex-column-reverse"
      data-controller="empty"
      data-empty-hidden-class="hidden"
    >
      <% if @board.nil? %>
        <%= render 'not_selected' %>
      <% else %>
        <%= render 'no_notes' %>
        <%= render @notes %>
        <div id="notes_spinner" class="my-5 text-secondary text-center invisible hidden">
          <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      <% end %>
    </div>
    <% if @board %>
      <% if @board.belong_to_user?(current_user) %>
        <%= render 'add_form', board: @board %>
      <% else %>
        <div id="add_note"></div>
      <% end %>
    <% end %>
    <div id="join_board">
      <% if @board && !@board.belong_to_user?(current_user) %>
        <%= render 'boards/join_btn', board: @board %>
      <% end %>
    </div>
  </div>

  <% if @board.present? %>
    <%= tag.div id: 'notes_state', class: 'hidden', data: {
      controller: 'notes',
      notes_user_value: current_user.id,
      notes_board_state_value: {owner: @board.owner_id, sharing_status: @board.sharing_status},
      notes_note_outlet: '.js-notes-show',
      notes_add_note_outlet: '.js-notes-new'
    } %>
  <% end %>
<% end %>
