<%= turbo_frame_tag 'notes_frame' do %>

  <%= render 'shared/set_state', value: {
    initial_state: {
      notes_loaded: true
    }
  }, id: 'set_notes_loaded' %>

  <% if @board %>
    <%= turbo_stream_from [@board, :notes] %>
    <%= turbo_stream_from [current_user, @board] %>

    <%= tag.div id: 'stream-for-non-owned', data: {
      controller: 'connect-children',
      connect_children_use_value: 'user_board_state',
      connect_children_check_value: '!owned',
    } do %>
      <%= turbo_stream_from [@board, :notes, :joined] %>
    <% end %>

    <%= render 'shared/state', id: 'board_state', value: {
      public_rw: @board.public_rw?,
    } %>

    <%= render 'shared/state', id: 'user_board_state', value: {
      owned: @owned ,
      joined: @joined
    } %>

    <%= render 'shared/state', id: 'details_state', value: {
      show_details: false,
      editing: false,
      loaded: false
    } %>
  <% end %>

  <%= tag.div class: 'full-column d-flex flex-column' do %>
    <% rounded = 'rounded' %>
    <% if @board %>
      <%= render 'notes_panel_header' %>
      <%= render 'board_details_header', board: @board, owned: @owned %>
      <% rounded = 'rounded-bottom' %>
    <% end %>
    <div class="d-flex flex-column-reverse flex-grow-1 overflow-auto shadow <%= rounded %> border text-bg-light">
      <% if @board %>
        <%= tag.div class: 'd-flex flex-column-reverse flex-grow-1 overflow-auto', data: {
          controller: 'hide event',
          hide_use_value: 'details_state',
          hide_check_value: 'show_details',
          event_on_connect_value: true,
          event_payload_value: {
            set_panel_state: {
              active_panel: 'notes'
            }
          }
        } do %>
          <%= render 'no_notes', hidden: @notes.present? %>
          <div id="notes" class="overflow-auto list-group list-group-flush d-flex flex-column-reverse"
            data-controller="state-counter"
          >
            <%= render @notes, user_id: current_user.id %>
            <div id="notes_spinner" class="has-prev my-4 text-secondary text-center invisible">
              <div class="spinner-grow" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        <% end %>
        <%= render 'board_details', board: @board %>
      <% else %>
        <%= render 'not_selected' %>
      <% end %>
    </div>
    <% if @board %>
      <%= tag.div data: {
        controller: 'hide',
        hide_use_value: 'details_state',
        hide_check_value: 'show_details',
      } do %>
        <%= render 'add_form', board: @board, owned: @owned, joined: @joined %>
      <% end %>
      <%= render 'boards/join_btn', board: @board, belongs: @owned || @joined %>
    <% end %>
 <% end %>

<% end %>
