<%= turbo_frame_tag 'notes_frame' do %>

  <% if @board %>
    <%= turbo_stream_from [@board, :notes] %>
    <%= turbo_stream_from [current_user, @board] %>

    <%= render 'shared/state', id: 'board_state', value: {
      public_rw: @board.public_rw?,
    } %>

    <%= render 'shared/state', id: 'user_board_state', value: {
      belongs: @board.belong_to_user?(current_user),
      owned: @board.owned_by_user?(current_user),
      joined: @board.joined_by_user?(current_user)
    } %>

    <%= render 'shared/state_counter', id: 'notes_counter', value: @notes.size %>
  <% end %>

  <div class="full-column d-flex flex-column">
      <% rounded = 'rounded' %>
      <% if @board %>
        <%= render 'notes_panel_header' %>
        <% rounded = 'rounded-bottom' %>
      <% end %>
      <div class="d-flex flex-column-reverse flex-grow-1 overflow-auto shadow <%= rounded %> border text-bg-light">
        <% if @board %>
          <%= tag.div class: 'd-flex flex-column-reverse flex-grow-1 overflow-auto', data: {
            controller: 'state-driven',
            state_driven_state_selector_value: '#panel_state',
            state_driven_key_value: 'show_details',
            state_driven_not_value: true
          } do %>
            <%= render 'no_notes' %>
            <div id="notes" class="overflow-auto list-group list-group-flush d-flex flex-column-reverse" >
              <%= render @notes %>
              <div id="notes_spinner" class="my-5 text-secondary text-center invisible hidden">
                <div class="spinner-grow" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          <% end %>
          <%= render 'board_details' %>
        <% else %>
          <%= render 'not_selected' %>
        <% end %>
      </div>
      <% if @board %>
        <%= render 'add_form', board: @board %>
        <%= render 'boards/join_btn', board: @board %>
      <% end %>
  </div>

<% end %>
