<%= turbo_frame_tag 'notes_frame' do %>

  <% if @board.present? %>
    <%= turbo_stream_from dom_id(@board) %>
  <% end %>

  <div class="full-column d-flex flex-column">
    <% rounded = 'rounded' %>
    <% if @board.present? %>
      <%= render 'notes_panel_header' %>
      <% rounded = 'rounded-bottom' %>
    <% end %>
    <div id="notes"
      class="items-list list-group list-group-flush shadow flex-grow-1 <%= rounded %> border text-bg-light d-flex flex-column-reverse"
      data-controller="empty"
      data-empty-hidden-class="hidden"
    >
      <% if @board.nil? %>
        <%= render 'not_selected' %>
      <% else %>
        <%= render 'no_notes' %>
        <%= render @notes %>
        <div id="notes_spinner" class="my-5 text-secondary text-center invisible hidden">
          <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      <% end %>
    </div>
    <% if @board.present? %>
      <%= render 'add_form' %>
    <% end %>
  </div>
<% end %>
