<%= turbo_frame_tag dom_id(board, :inner), data: { active_target: 'inner', id: dom_id(board)} do %>
  <div class="hover-wrapper">
    <div class="d-flex w-100 justify-content-between align-items-center hover-trigger"
      data-controller="clicker select toggle" data-clicker-selector-value=".cancel-btn" data-select-active-outlet="#boards"
      data-toggle-manipulate-class="hidden-below-md" data-toggle-selector-value=".toggle-mobile"
    >
      <%= link_to board.name, root_path(board: board.id), class: "h6 my-2 normal-height text-truncate stretched-link board-name",
        data: {turbo_frame: "notes_frame", turbo_action: "replace",
               select_id_param: dom_id(board), action: "select#select toggle#toggle "} %>
      <div class="hover-content-block shadow">
        <div class="btn-group" role="group">
          <%= link_to "", edit_board_path(board), class: "btn btn-secondary btn-sm bi bi-pen",
            role: "button", data: { action: "click->clicker#click"} %>
          <%= link_to "", board, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn btn-danger btn-sm bi bi-trash", role: "button" %>
        </div>
      </div>
    </div>
    <div class="card text-bg-light mt-3 hover-content-block w-75 shadow">
      <div class="card-body">
        <%= turbo_frame_tag dom_id(board, :details), loading: :lazy, src: details_board_path(board) do %>
          <div class="text-center text-secondary">
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
