<%= turbo_frame_tag dom_id(board, :inner) do %>
  <div class="hover-wrapper">
    <%= tag.div class: 'd-flex w-100 justify-content-between align-items-center hover-trigger' do %>
      <%= tag.button board.name, data: {
        controller: 'set-state',
        set_state_object_value: {
          active_board_state: {
            id: board.id,
            path: root_path(board: board.id)
          },
          panel_state: {
            active_panel: 'notes'
          }
        },
        action: "set-state#fire"
      }, class: "h6 my-2 normal-height text-truncate btn btn-link stretched-link board-name" %>
      <%= tag.small class: 'text-secondary hidden', data: {
        controller: 'state-driven',
        state_driven_key_value: 'current_user',
        state_driven_eql_value: board.owner_id,
        state_driven_not_value: true,
        state_driven_state_outlet: '#user_state'
      } do %>
        @<%= board.owner.nickname %>
      <% end %>
      <div class="hover-content-block shadow">
        <div class="btn-group" role="group">
          <%= link_to "", edit_board_path(board), class: "btn btn-secondary btn-sm bi bi-pen", role: "button", data: {
            controller: 'clicker',
            clicker_selector_value: '.cancel-btn',
            action: "clicker#click"
          } %>
          <%= link_to "", board, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
            class: "btn btn-danger btn-sm bi bi-trash", role: "button" %>
        </div>
      </div>
    <% end %>
    <div class="card text-bg-light mt-3 hover-content-block w-75 shadow">
      <div class="card-body">
        <%= turbo_frame_tag dom_id(board, :details), loading: :lazy, src: details_board_path(board) do %>
          <div class="text-center text-secondary">
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
