<%= turbo_frame_tag :board_details do %>
  <%= form_with(model: @board) do |f| %>
    <% invalid = @board.errors.include?(:name) %>
    <%= f.text_field :name, autofocus: true, class: "form-control #{'is-invalid' if invalid}", placeholder: "Board name",
      data: { controller: "clicker", clicker_cancel_value: dom_id(@board, :cancel), action: "keydown.esc->clicker#cancel" } %>
    <% if invalid %>
      <% @board.errors.full_messages_for(:name).each do |m| %>
        <p class="my-0"><small class="text-danger"><%= m %></small></p>
      <% end %>
    <% end %>

    <% invalid = @board.errors.include?(:description) %>
    <%= f.text_area :description, class: "mt-3 form-control growing-text #{'is-invalid' if invalid}", placeholder: "Description",
      data: { controller: "auto-grow clicker", clicker_cancel_value: dom_id(@board, :cancel), clicker_submit_value: dom_id(@board, :submit),
              action: "keydown.esc->clicker#cancel keydown.enter->clicker#submit input->auto-grow#grow" } %>
    <% if invalid %>
      <% @board.errors.full_messages_for(:description).each do |m| %>
        <p class="my-0"><small class="text-danger"><%= m %></small></p>
      <% end %>
    <% end %>

    <div class="mt-3">
      <%= f.submit "Submit", id: dom_id(@board, :submit), class: "btn btn-primary" %>
      <%= link_to "Cancel", board_path(@board), id: dom_id(@board, :cancel), class: "btn btn-secondary cancel-btn" %>
    </div>
  <% end %>
<% end %>
