<%= turbo_frame_tag :board_details, class: 'mx-2 mt-4' do %>
  <%= render 'shared/set_state', value: {
    details_state: {
      editing: false,
      loaded: true
    }
  }, id: 'set_editing_state' %>

  <%= tag.p class: 'bc-board-name fw-bold fs-5' do %>
    <%= @board.name %>
  <% end %>

  <p>
    <span class="bc-board-description preserve-lines"><%= @board.description %></span>
    <span class="prev-empty text-secondary">No description</span>
  </p>

  <p class="mt-5">
    <strong>
      Owner:
    </strong>
    <%= @board.owner.nickname %>
  </p>
  <p>
    <strong>
      Sharing status:
    </strong>
    <%= @board.sharing_status_humanized %>
  </p>
  <p class="mt-5">
    <strong>
      Created at:
    </strong>
    <%= @board.created_at_formatted %>
  </p>
  <p>
    <strong>
      Number of users:
    </strong>
    <%= @board.users.count %>
  </p>
  <p>
    <strong>
      Number of notes:
    </strong>
    <%= @board.notes.count %>
  </p>
<% end %>
