<%= turbo_frame_tag :board_details, class: 'mx-2 mt-4' do %>
  <%= render 'shared/set_state', value: {
    details_state: {
      editing: false,
      loaded: true
    }
  }, id: 'set_editing_state' %>

  <%= tag.p class: 'fw-bold fs-5' do %>
    <%= @board.name %>
  <% end %>
  <% if @board.description.blank? %>
    <p class="text-secondary">No description</p>
  <% else %>
    <p class="preserve-lines"><%= @board.description %></p>
  <% end %>
  <p class="mt-5">
    <strong>
      Owner:
    </strong>
    <%= @board.owner.nickname %>
  </p>
  <p>
    <strong>
      Sharing status:
    </strong>
    <%= @board.sharing_status_humanized %>
  </p>
  <p class="mt-5">
    <strong>
      Created at:
    </strong>
    <%= @board.created_at %>
  </p>
  <p>
    <strong>
      Last update:
    </strong>
    <%= @board.last_update %>
  </p>
  <p>
    <strong>
      Number of notes:
    </strong>
    <%= @board.notes.count %>
  </p>
<% end %>
