<%= turbo_frame_tag 'boards_frame' do %>

  <%= turbo_stream_from current_user %>

  <%= render 'shared/set_state', value: {
    initial_state: {
      boards_loaded: true
    }
  }, id: 'set_boards_loaded' %>

  <%= render 'shared/state', id: 'active_board_state', value: {
    id: @active_board_id
  } %>

  <%= tag.div id: 'delete_board', class: 'hidden', data: {
    controller: 'delete-board',
  } %>

  <%= tag.div id: 'select_board', class: 'hidden', data: {
    controller: 'select-board',
    select_board_use_value: 'active_board_state',
    select_board_active_class: 'selected-board'
  } %>

  <div class="full-column d-flex flex-column">
    <%= render 'add_board_btn' %>
    <div id="boards" class="overflow-auto shadow list-group list-group-flush flex-grow-1 mt-3 border rounded text-bg-light"
      data-controller="state-counter"
    >
      <%= render 'no_boards' %>
      <%= render @boards %>
      <%= tag.div id: 'boards_spinner', class: 'my-4 text-secondary text-center invisible hidden' do %>
        <div class="spinner-grow" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
