<%= turbo_frame_tag 'boards_frame' do %>

  <%= turbo_stream_from "boards" %>

  <div class="full-column d-flex flex-column">
    <div id="new_board_area">
      <%= render 'add_board_btn' %>
    </div>
    <div id="boards" class="items-list shadow list-group list-group-flush flex-grow-1 mt-3 border rounded text-bg-light"
      data-controller="empty active" data-empty-hidden-class="hidden" data-active-frame-value="notes_frame"
      data-active-path-value="<%= root_path %>" data-active-selected-class="selected-board"
      data-active-active-value="<%= @active_board_id.nil? ? '' : dom_id(Board.new(id: @active_board_id)) %>">
      <%= render 'no_boards' %>
      <%= render @boards %>
      <div id="boards_spinner" class="mt-5 text-secondary text-center invisible" style="margin-bottom: 70%">
        <div class="spinner-grow" style="width: 5rem; height: 5rem" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
<% end %>
