<div class="list-group-item">
  <turbo-frame id="<%= dom_id(room) %>">
    <div class="d-flex w-100 justify-content-between align-items-center" data-controller="show-on-hover"
     data-action="mouseenter->show-on-hover#show mouseleave->show-on-hover#hide">
      <h6 class="my-2 text-truncate popover-with-html" id="<%= dom_id(room) %>-name"
          data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="bottom">
        <%= room.name %>
      </h6>
      <div class="btn-group" role="group" hidden data-show-on-hover-target="hidden">
        <%= link_to "", edit_room_path(room), class: "btn btn-secondary btn-sm bi bi-pen", role: "button" %>
        <%= link_to "", room, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
          class: "btn btn-danger btn-sm bi bi-trash", role: "button" %>
      </div>
      <div hidden id="<%= dom_id(room) %>-name-html">
        <div class="card-body">
          <p class="card-text"><%= room.description %></p>
        </div>
      </div>
    </div>
  </turbo-frame>
</div>

