<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#<%= dom_id(room) %>-collapse">
      <%= room.name %>
    </button>
  </h2>
  <div id="<%= dom_id(room) %>-collapse" class="accordion-collapse collapse" data-bs-parent="#<%= parent_id %>">
    <div class="accordion-body">
      <p><%= room.description %></p>
      <%= link_to "Edit", edit_room_path(room), class: "btn btn-secondary btn-sm", role: "button" %>
      <%= link_to "Delete", room, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm", role: "button" %>
    </div>
  </div>
</div>
