<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#<%= dom_id(room) %>-collapse">
      <%= room.name %>
    </button>
  </h2>
  <div id="<%= dom_id(room) %>-collapse" class="accordion-collapse collapse" data-bs-parent="#<%= parent_id %>">
    <div class="accordion-body">
      <%= room.description %>
      <%= link_to "Edit", edit_room_path(room) %>
      <%= link_to "Delete", room, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
