<!DOCTYPE html>
<html style="display: none">
  <head>
    <title>My Boards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="text-bg-light">
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript">
    document.querySelector('html').style.display = 'block';
    document.oncontextmenu = () => false;
    document.addEventListener('turbo:before-fetch-request', (event) => {
      const timeZone = Intl?.DateTimeFormat()?.resolvedOptions()?.timeZone;
      if (timeZone) event.detail.fetchOptions.headers['X-Time-Zone'] = timeZone;
    })
  </script>
</html>
